.card {
    border-radius: 4px;
    box-shadow: 0 0 4px 4px #36454f;
    width: 400px;
    height: 350px;
    background-color: #FFFFFF;
    padding: 0.5rem;
}

.button-div {
    border-radius: 50%;
    padding: 10px;
    border-color: #36454f;
    background-color: #FFFFFF;
}

.song-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h4 {
    color: #36454f;
}

h3 {
    color: #800020;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.body-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.diagonal-split-background {
    background-color: #800020;
    color: white;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    padding: 3rem;
}

@media (max-width: 767px) {
    h3 {
        font-size: 1rem;
        margin-bottom: -0.5rem;
    }
    
    .card {
        width: 300px;
        height: 250px;
    }

    audio {
        width: 290px;
    }
}
